<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">

    <!-- General settings -->
    <localRepository>${user.home}/.m2/repository</localRepository>
    <interactiveMode>true</interactiveMode>
    <offline>false</offline>

    <!-- Proxy configuration, if applicable -->
    <!--
    <proxies>
        <proxy>
            <id>proxy1</id>
            <active>true</active>
            <protocol>http</protocol>
            <host>proxy.example.com</host>
            <port>8080</port>
            <username>proxy_username</username>
            <password>proxy_password</password>
            <nonProxyHosts>localhost|*.example.com</nonProxyHosts>
        </proxy>
    </proxies>
    -->

    <!-- Servers -->
  <servers>
       <!--   <server>
            <id>mail-server</id>
            <username>mail_username</username>
            <password>mail_password</password>
        </server> -->
        <server>
            <id>${SNAP_REPO}</id>
            <username>${NEXUS_USER}</username>
            <password>${NEXUS_PASS}</password>
        </server>
        <server>
            <id>${RELEASE_REPO}</id>
            <username>${NEXUS_USER}</username>
            <password>${NEXUS_PASS}</password>
        </server>
        <server>
            <id>{CENTRAL_REPO}</id>
            <username>${NEXUS_USER}</username>
            <password>${NEXUS_PASS}</password>
        </server>
        <server>
            <id>{NEXUS_GRP_REPO}</id>
            <username>${NEXUS_USER}</username>
            <password>${NEXUS_PASS}</password>
        </server>
    </servers>

    <!-- Mirrors -->
    <mirrors>
        <mirror>
            <id>${CENTRAL_REPO}</id>
            <name>${CENTRAL_REPO}</name>
            <url>http://${NEXUSIP}:${NEXUSPORT}/repository/${NEXUS_GRP_REPO}/</url>
            <mirrorOf>*</mirrorOf>
        </mirror>
    </mirrors>

    <!-- Profiles -->
    <profiles>
        <profile>
            <id>development</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <!-- Custom configurations for development environment -->
        </profile>
        <profile>
            <id>production</id>
            <!-- Custom configurations for production environment -->
        </profile>
    </profiles>

    <!-- Active Profiles -->
    <activeProfiles>
        <activeProfile>development</activeProfile>
    </activeProfiles>

    <!-- Plugin Repositories -->
    <!--
    <pluginRepositories>
        <pluginRepository>
            <id>plugin-repo1</id>
            <url>https://maven.apache.org/plugins</url>
        </pluginRepository>
    </pluginRepositories>
    -->

</settings>
